/* CIT 230 - Assignment Portal CSS Template */

/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */

* {
    margin: 0;
    box-sizing: border-box;
}

#frame {
    max-width: 800px;
    margin: 0 auto;
}

nav ul li {
    display: inline;
    list-style: none;
    
}

nav a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 1em;
    padding-top: .70em;
    padding-left: 0.5em;
    padding-right: 1.5em
}



nav a:link,
a:visited,
    {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: none;
}


body {
    font-size: 16px;
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: #000000;
}

h1 {
    font-size: 3.0rem;
    color: #ffffff;
    padding-top: 0.2rem;
}

header h2 {
    color: #e8b44f;
}

h2 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header,
main,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
}

footer,
footer a {
    text-align: center;
    background-color: #8F1100;
    height: 50px;
    color: whitesmoke;
}

.basicHead {
    text-align: center;
    background-color: #8F1100;
    height: 100px;
    color: whitesmoke;
    padding-top: 15px;
}

header {
    text-align: center;
    background-color: #8F1100;
    height: 50px;
    color: whitesmoke;
}

header img {
    width: 210px;
    height: auto;
    float: right;
}

footer {
    font-size: smaller;
    padding-top: 7px;
}

.indexUl {
    padding-top: 1em;
}

ul li {
    text-align: left;
    margin: 0 auto;
    max-width: 300px;
}
