@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */

    
    .header-container {
    height: inherit;
    }    

    header img{
    margin-left: -5em;
}
    
    header p {
    margin-left: 3em;
}
    
    section.forecast { display: block; }  /* show the 10-day forecast with the medium view and up */
    
    nav button { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
/*    nav ul li { float: left; }*/
 
    nav ul.hide {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    
    .grid-container {
/*    display: grid;*/
    grid-template-columns: 1fr 1fr;
}
    
    .description {
    display: block;
    text-align: left;
}

}