/* Delete these CSS comments after reading. */

/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

/*
navy #4d505b
yellow #ffd464
kakigray #a6a88e
redorange #ed5840
brightgreen #21d881
*/

body {
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    
}

header,
nav,
main,
footer {
    /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 960px;
    /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header,
main,
footer {
    margin: auto;
}

header h1 {
    color: #ed5840;
    padding-top: 45px;
    padding-bottom: 55px;
    margin-top: 0;
    background-color: #ffd464;
    max-height: 250px;
}

header img {
    float: left;
}



header .subheading {
    margin: 7px;
    margin-top: -73px;
    background-color: #ffd464;
    font-size: 1.1em;
    color: #fff;
    font-style: italic;
}

nav {
    background-color: #ed5840;
    vertical-align: text-bottom;
    text-align: center;
    line-height: 2.6em;
    font-size: 1.1em;
    margin-top: 1.7em;
    /*    -3.7*/
}

nav button {
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 5px;

}

nav ul li a {
    display: flex;
    flex-direction: column;
    display: block;
    color: white;
    text-decoration: none;
    padding-right: 1.5em;
    padding-left: 1.5em;
}


nav a:hover {
    color: white;
    text-decoration: none;
    background-color: #a6a88e;
}


nav ul li.active a {
    text-decoration: none;
    color: white;
    text-decoration: none;
    background-color: #a6a88e;
}


nav ul li a:hover {
    
}

nav ul {
    display: block;
}

nav ul.hide {
    display: none;
}


main {
    text-align: center;
}

section {
    margin-bottom: 5px;
    padding-top: 30px;
    padding-bottom: 50px;
}

main h2 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 2em;
    padding-bottom: 10px;
    font-size: 2em;
}

main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

main figure img {}

main img {
    width: 100%;
    border: 2px solid #ffffff
}

main p {
    text-align: center;
}

.text {
    text-align: left;
}

h3 {
    text-align: center;
    font-size: 1.5em;
}

.center {
    align-items: center;
    margin-bottom: auto;
    margin-top: 10px
}


.icon {
    width: 150px;
}

.sunny{
    color: #ed5840;
    font-size: 1.8em;
    margin-bottom: 5px;
    font-weight: bold;
    font-style: italic;
}
    


.forecast {
    display: none;
    margin-top: 2em;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 20px;
    font-size: 1.05em;
}

article {
    padding-top: 20px;
    padding-bottom: 0px;
}

.town-article {
    text-align: left;
    margin-top: 1.5em;
    line-height: 1.3em;
    color: dimgray
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    margin-top: 1em;
}

.grid-item {
    border: 1px solid #ffffff;
    padding: 1em;
}


.description {
    display: block;
    text-align: left;
}

footer {
    background-color: #ed5840;
    text-align: center;
    height: 100px;
    color: #ffffff;
    padding-top: 30px;
    margin-top: 4em;
    padding-bottom: 0px;
}

.contact {
    line-height: 1.2;
    font-size: .8em;
    margin-top: -3em;
    }
.footer-bar {
    line-height: 1.2;
    font-size: .8em;
    margin-top: -5.5em;
    }
