@media only screen and (min-width: 64em) {

    section.forecast {
        display: block;
    }
    nav ul {
        display: inline-block;
        height: 45.6px;
    }
    nav ul li {
        float: center;
    }
}

